/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px;
  background-color: #fff;
  color: black; /* Customize text color */
  max-width: 100%;
  height: 30px;
}

.logo img {
  max-height: 40px; /* Adjust logo size */
  margin-left: 30px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  font-size: 16px;
  list-style: none;
  margin-right: 20px;
}

.login-box {
  border-radius: 5px;
  margin-top: 0;
}

.login-box button {
  background-color: #fff;
  color: #333;
  border: 2px solid #3964d8; /* Blue border */
  border-radius: 5px;
  padding: 8px 15px;
  /* font-size: 18px; */
  cursor: pointer;
}

button:hover {
  background-color: #3964d8;
  color: white;
}
.second-header {
  background-color: #3964d8;
  color: white;
  text-align: center;
  height: 30px;
  justify-content: center;
}

#courses {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

#courses div {
  width: 30%;
  text-align: center;
  transition: transform 0.3s ease;
}

#courses div:hover {
  transform: scale(1.1);
}

/* Hiring Partners & Mentors */
#partners-mentors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 50px 0;
}

/* Student Success Stories */
#success-stories {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

#success-stories div {
  width: 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Accreditation & Learning Platform */
#accreditation-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  header nav,
  #courses,
  #success-stories {
    flex-direction: column;
  }

  #courses div,
  #success-stories div {
    width: 100%;
  }
}
